:host {
  display: block;
  min-width: 375px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}

.mobile{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top{
  height: 20px;
}

.img-top{
  width: 100%;
  max-height: 44px;
}

.top-label {
  height: 44px;
}

.footer {
  height: 100px;
  margin-top: auto;
}

.img {
  max-height: 83px;
  width: 100%;
}

.mat-toolbar {
  background-color: white;
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
}

span {
  padding: 0 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Занимает доступное пространство, чтобы выровнять по вертикали */
  justify-content: center;
}

.success {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #F7F8F9;
  border: 0.5px solid #D5DDE0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  position: absolute;
  width: 39px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 3;
  color: #1AA6D7;
}

label {
  width: 192px;
  height: 44px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.btn-back {
  width: 60px;
  height: 60px;
  background: #F0F0F0;
  margin: 10px auto 37px;
}

.btn-back::ng-deep .mat-ripple-element {
  transform: translate(0, 300px)
}
